
TRABALHANDO COM TIPOS.ALG
TRABALHANDO COM TIPOS SomaMultSubDiv.ALG
TRABALHANDO COM TIPOS OperadoresLogicos.ALG
TRABALHANDO COM TIPOS DE VARIáVEIS.ALG
TABELA VERDADE.ALG
PRIMEIRO CONTATO.ALG
MOD E DIV.ALG
EXTRA.ALG
EXERCíCIOS - CONDICIONAIS I.ALG
EXERCICIO - TABELA VERDADE.ALG
ESTRUTURAS CONDICIONAIS.ALG
ESTRUTURAS CONDICIONAIS II.ALG
ESCOLHA.ALG
Aula.pdf
Apostila de Lógica.pdf
